body {
  font-family: Inter;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/660/original/Pink_Abstract_Tech_Gaming_Neon_Background.png?1686061855);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000221;
}
a {
  text-decoration: none;
  color: #FF00B8;
}
h1 {
  color: white;
  display: block;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.form-control {
  background-color: white;

}

.units {
  color: white;
}
ul {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  font-size: 12px;
  color: white;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin-top: 10rem;
    box-shadow: 0 0 .1rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #180C9D,
            0 0 0.8rem #180C9D,
            0 0 2.8rem #180C9D,
            inset 0 0 1.2rem #180C9D; 
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.weather-forecast-date {
  font-size: 15px;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
